.slidecontainer {
    width: 100%; /* Width of the outside container */
    display:inline;
    position:relative;
    margin-left:10px;
}

/* The slider itself */
.slider {

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 150px; /* Full-width */
    height: 10px; /* Specified height */
    margin:0;
    border-radius: 5px;   
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px;
    border-radius: 50%;  /* Slider handle height */
    background: #ff8f40; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px;
    border-radius: 50%;  /* Slider handle height */
    background: #ff8f40; /* Green background */
    cursor: pointer; /* Cursor on hover */
}