<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hestia Test Page</title>
    <style>
    body{
        margin: 0px;
        background-color: #e8f0ff;
    }
    #mainPanel{
        text-align: center;
        width: 100%;
    }
    #resultArea{
        width: 50%;
        min-height: 250px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-align: left;

    }
    .subPanel{
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='functions.js') }}"></script>
</head>
<body>
    <div id="mainPanel">
        <img alt="Hestia Logo" src="https://files.slack.com/files-pri/T98C42N1F-F9N3ZLDFB/hestialogo.png">
        <div id="queryPanel" class="subPanel">
            <h3>Query</h3>
            <input id="queryInput" type="text"><br>
        </div>
        <div id="methodPanel" class="subPanel">
            <h3>Request Type</h3>
            <input id="methodInput" type="text"><br>
        </div>
        <div id="payloadPanel" class="subPanel">
            <h3>Optional Payload</h3>
            <textarea id="payloadInput" rows=8 cols=50></textarea><br>
        </div>
        <button id="submitButton" onclick="dimmer('https://94.212.164.28:8000','5ab37fcde82b3f07245b9d39', .6)">Submit Request</button>
        <pre id="resultArea" class="prettyprint">
          <!--result space for queries.-->
      </pre>
  </div>
</body>
</html>
