<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Hestia | Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/functions.js"></script>
</head>

<body>
    <div id="container">
        <div id="interface">
            <div id="top_bar_login">
                <a href="login.html">
            <img src="images/logo_temp.png" />
          </a>
            </div>
        </div>
        <div id="login_container">
            <div class="module_title">
                <h2>Login</h2>
            </div>
            <div id="login_server">
                <button>CHOOSE SERVER</button>
                <div id="server_info_login">
                    <p><strong>Current Server:</strong><br /> localhost
                    </p>
                </div>
            </div>
            <div id="login_input">
                <form action="index.html">
                    <input type="username" placeholder="Username" />
                    <input type="password" placeholder="Password" />
                    <input id="login_button" type="submit" name="login" value="LOGIN" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>
