<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	{% block head %}
    
    <title>Hestia | {% block title %}{% endblock title %}</title>

    {% include 'utils/resources.html' %}

  	<!-- Our files -->
  	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  	<script src="{{ url_for('static', filename='scripts/firebase/database.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/firebase/auth.js') }}"></script>

    {% endblock head %}
</head>

{% macro menuButton(path) -%}
	"{{ 'menu_button current'if request.path == path else 'menu_button' }}"
{%- endmacro %}

<body>
    <div id="container">
    	{% if not withoutInterface %}
    		<div id="interface">
			    <a href="index.html">
			        <div id="logo_float">
			            <img src="{{ url_for('static', filename='images/logo.png') }}" />
			        </div>
			    </a>
			    <div id="top_bar">
			        <h1 id="current_page">{{ self.title() }}</h1>
			        <button id="signout_button", onclick="signout()">Sign Out</button>
			    </div>
			    <div id="side_menu">
			        <a href="index.html">
			            <div class={{ menuButton('/index.html') }}><i class=material-icons>dashboard</i></div>
			        </a>
			        <a href="devices.html">
			            <div class={{ menuButton('/devices.html') }}><i class=material-icons>settings_remote</i></div>
			        </a>
			        <a href="server.html">
			            <div class={{ menuButton('/server.html') }}><i class=material-icons>storage</i></div>
			        </a>
			        <a href="settings.html">
			            <div class={{ menuButton('/settings.html') }}><i class=material-icons>settings</i></div>
			        </a>
			    </div>
			</div>
    	{% endif %}
    	{% block container %}
        {% endblock container %}
    </div>
</body>
<!-- If the page does not specify that auth is required, it will init firebase and check for login. -->
{% if not withoutNormalAuth %}
	<script>
		beginAuth();
	</script>
{% endif %}

{% block afterBody %}
{% endblock afterBody %}

</html>
