/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.switchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switchSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.switchSlider {
    background-color: #ff8f40;
}

input:focus+.switchSlider {
    box-shadow: 0 0 1px #ff8f40;
}

input:checked+.switchSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.switchSlider.round {
    border-radius: 34px;
}

.switchSlider.round:before {
    border-radius: 50%;
}
